[submodule "AWVInfraPostGISSyncer"]
	path = AWVInfraPostGISSyncer
	url = https://github.com/davidvlaminck/AWVInfraPostGISSyncer.git
	branch = master

[submodule "EMInfraRestClient"]
	path = EMInfraRestClient
	url = https://github.com/davidvlaminck/EMInfraRestClient.git
	branch = master